* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 0.16rem;
  }

html, body, .wrap {
  width: 100%;
  height: 100%;
  box-sizing: border-box; 
  
   }

html {
  user-selector: none; }

 %qjz{
 	display:flex;
 	justify-content:center;
 	align-items:center;
 }
 %qjy{
 	display:flex;
 	justify-content:flex-end;
 	align-items:center;	
 }

 %qjzuo{
 	display:flex;
 	justify-content:flex-start;
 	align-items:center;
 }
 .wrap{
  /* .header{
    display:flex;
    height: .4rem;
    justify-content: space-around;
    border-bottom: 10px solid #eee;
    span{
      @extend %qjz;
      width: 20%;
      &:hover{
        border-bottom: 3px solid #00f;
      }
    }
  } */
    .main{
      section{
        width: 90%;
        margin: 15px auto;
        box-shadow: 0 0 3px #000;
        border-radius: 5px;
        ul{
          li{
              display:flex;
              flex-wrap:wrap;
              small{
                flex: 1;
                text-align: center;
                font-size: .3rem;
              }
              big{
                flex: 1.3;
                font-size: .7rem;
              }
              p{
                flex: 4;
                @extend %qjy;
              }
              div{
                font-size: .12rem;
                @extend %qjz;
                .limit{
                  background:url(../images/b.png);
                  width: 12px;
                  -webkit-background-size: cover;
                  background-size: cover;
                  height: 12px;
                  background-repeat: no-repeat;
                  padding: 2px;
                }
                .dateTo{
                  background:url(../images/b.png);
                  width: 12px;
                  background-repeat: no-repeat;
                  background-position: 0 -16px;
                  -webkit-background-size: cover;
                  background-size: cover;
                  height: 12px;
                  padding: 2px;
                }
              }
              .limitCon{
                color: #30B881;
              }

          }
          li:first-child{
            background: #FD6060;
            height: 1rem;
            color: #fff;
          }
          li:nth-child(2){
            color: #ccc;
            height: .7rem;

          }
        }
      }
    }
 }